
a,a:active,a:visited,a:hover,a:after,a:before,a:link
{
  text-decoration: none;
}

p,a,span
{
  font-size:0.75em;
}

sub
{
  font-size:1em;
}

h1
{
  font-size:2em;
}

h2
{
  font-size:1.8em;
}

h3
{
  font-size:1.6em;
}

h4
{
  font-size:1.4em;
}

h6
{
  font-size:1.2em;
}
