// compileExpanded, expandedFilenamePattern: ../../css/layouts/$1.css

// This is the general master layout file. All css files that are not responsive intended must be loaded/imported at the bottom of this file.

html,body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;

  *, *::before,*::after
  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.content
{
  position: relative;
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

// #### import additional files here ####

//colors used in all files
@import "../colors.scss";

//text fonts
@import "./../text/fonts.scss";

//default page section styling
@import "./header.scss";
@import "./content.scss";
@import "./footer.scss";

//text options and styles
@import "./../text/text-options.scss";
@import "./../text/text-ui-messages.scss";

// layout styling
@import "./default-style-settings.scss";
@import "./layout-utility-options.scss";

// ui elements styling
@import "./../ui-elements/buttons.scss";
@import "./../ui-elements/ui-messages.scss";

// css animations
@import "./../animations/slide-ud.scss";

// custom styles applied and used in different pages
@import "./index-custom";
