html, body {
  height: 100%;
  margin: 0;
}

main{
  margin-top: 100px !important;
  min-height: 100%;
}

footer {
  position: relative;
  background-color: #263238;
}

.login-form {
  width:380px;
  margin: 40px auto 40px auto;
}

.text-light-grey {
  color: #cfd8dc;
}

.brand-small-logo{
  height:45px;
  max-height:50px;
  width:55px;
}

.full-width {
  width:  100%;
}

/*.mdc-theme--primary 	,
.mdc-theme--secondary 	,
.mdc-theme--background 	,
.mdc-theme--surface ,
.mdc-theme--on-primary 	,
.mdc-theme--on-secondary 	,
.mdc-theme--on-surface 	,
.mdc-theme--primary-bg ,
.mdc-theme--secondary-bg 	{
  color: #ffffff;
  background-color: #5085ff;
}*/
//.mdc-button,.mdc-button--unelevated , .mdc-button--raised:not(:disabled), .mdc-button--unelevated, .mdc-button--unelevated:not(:disabled)
//{
//  background-color: #448aff;
//}
//
//.mdc-button {
//  color:#5085ff;
//}
//
// .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label
//{
//  color:#448aff;
//}
//


@import "../colors/colors";
@import "~material-components-web/material-components-web";

p {

}

$mdc-theme-primary: #00b0ad;
$mdc-theme-secondary: #00b0ad;
$mdc-theme-background: #fff;


