// This file is only compiled as a reference, it is used in the SCSS files as a resource. It must not be loaded on the site.

// colors are coded according to the Google Material design guidelines ( 50 - 900 primary color range , A100 - A800 color accents)

// 500 version default.

$color-red: #f44336;
$color-pink: #e91e63;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-indigo: #3f51b5;
$color-blue: #2196f3;
$color-light-blue: #03a9f4;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-green: #4caf50;
$color-light-green: #8bc34a;
$color-lime: #cddc39;
$color-yellow: #ffeb3b;
$color-amber: #ffc107;
$color-orange: #ff9800;
$color-deep-orange: #ff5722;
$color-brown: #795548;
$color-gray: #9e9e9e;
$color-blue-gray: #607d8b;

// 50 version

$color-variant-50-blue-gray :#eceff1;

// 100 version

$color-variant-100-red: #ffcdd2;
$color-variant-100-pink: #f8bbd0;
$color-variant-100-purple: #e1bee7;
$color-variant-100-deep-purple: #d1c4e9;
$color-variant-100-indigo :#c5cae9;
$color-variant-100-blue: #bbdefb;
$color-variant-100-light-blue: #90caf9;
$color-variant-100-cyan: #b2ebf2;
$color-variant-100-teal: #b2dfdb;
$color-variant-100-green: #c8e6c9;
$color-variant-100-light-green: #dcedc8;
$color-variant-100-lime: #f0f4c3;
$color-variant-100-yellow: #fff9c4;
$color-variant-100-amber: #ffecb3;
$color-variant-100-orange: #ffe0b2;
$color-variant-100-deep-orange: #ffe0b2;
$color-variant-100-brown: #d7ccc8;
$color-variant-100-gray: #f5f5f5;
$color-variant-100-blue-gray: #cfd8dc;

// 200 version

$color-variant-200-red: #ef9a9a;
$color-variant-200-pink: #f48fb1;
$color-variant-200-purple: #ce93d8;
$color-variant-200-deep-purple: #b39ddb;
$color-variant-200-indigo :#9fa8da;
$color-variant-200-blue: #90caf9;
$color-variant-200-light-blue: #81d4fa;
$color-variant-200-cyan: #80deea;
$color-variant-200-teal: #80cbc4;
$color-variant-200-green: #a5d6a7;
$color-variant-200-light-green: #c5e1a5;
$color-variant-200-lime: #e6ee9c;
$color-variant-200-yellow: #fff59d;
$color-variant-200-amber: #ffe082;
$color-variant-200-orange: #ffcc80;
$color-variant-200-deep-orange: #ffab91;
$color-variant-200-brown: #bcaaa4;
$color-variant-200-gray: #eeeeee;
$color-variant-200-blue-gray: #b0bec5;

// 300 version

$color-variant-300-red: #e57373;
$color-variant-300-pink: #f06292;
$color-variant-300-purple: #ba68c8;
$color-variant-300-deep-purple: #9575cd;
$color-variant-300-indigo :#7986cb;
$color-variant-300-blue: #64b5f6;
$color-variant-300-light-blue: #4fc3f7;
$color-variant-300-cyan: #4dd0e1;
$color-variant-300-teal: #4db6ac;
$color-variant-300-green: #81c784;
$color-variant-300-light-green: #aed581;
$color-variant-300-lime: #dce775;
$color-variant-300-yellow: #fff176;
$color-variant-300-amber: #ffd54f;
$color-variant-300-orange: #ffb74d;
$color-variant-300-deep-orange: #ff8a65;
$color-variant-300-brown: #a1887f;
$color-variant-300-gray: #e0e0e0;
$color-variant-300-blue-gray: #90a4ae;

// 400 version

$color-variant-400-red: #ef5350;
$color-variant-400-pink: #ec407a;
$color-variant-400-purple: #ab47bc;
$color-variant-400-deep-purple: #7e57c2;
$color-variant-400-indigo :#5c6bc0;
$color-variant-400-blue: #42a5f5;
$color-variant-400-light-blue: #29b6f6;
$color-variant-400-cyan: #26c6da;
$color-variant-400-teal: #26a69a;
$color-variant-400-green: #66bb6a;
$color-variant-400-light-green: #9ccc65;
$color-variant-400-lime: #d4e157;
$color-variant-400-yellow: #ffee58;
$color-variant-400-amber: #ffca28;
$color-variant-400-orange: #ffa726;
$color-variant-400-deep-orange: #ff7043;
$color-variant-400-brown: #8d6e63;
$color-variant-400-gray: #bdbdbd;
$color-variant-400-blue-gray: #78909c;

// 500 version

// 600 version

// 700 version

// 800 version


// 800 version
$color-variant-800-red: #c62828;
$color-variant-800-pink: #ad1457;
$color-variant-800-purple: #6a1b9a;
$color-variant-800-deep-purple: #4527a0;
$color-variant-800-indigo: #283593;
$color-variant-800-blue: #1565c0;
$color-variant-800-light-blue: #0277bd;
$color-variant-800-cyan: #00838f;
$color-variant-800-teal: #00695c;
$color-variant-800-green: #2e7d32;
$color-variant-800-light-green: #558b2f;
$color-variant-800-lime: #9e9d24;
$color-variant-800-yellow: #f9a825;
$color-variant-800-amber: #ff8f00;
$color-variant-800-orange: #ef6c00;
$color-variant-800-deep-orange: #d84315;
$color-variant-800-brown: #4e342e;
$color-variant-800-gray: #424242;
$color-variant-800-blue-gray: #37474f;

// 900 version
$color-variant-900-red: #b71c1c;
$color-variant-900-pink: #880e4f;
$color-variant-900-purple: #4a148c;
$color-variant-900-deep-purple: #311b92;
$color-variant-900-indigo: #1a237e;
$color-variant-900-blue: #0d47a1;
$color-variant-900-light-blue: #01579b;
$color-variant-900-cyan: #006064;
$color-variant-900-teal: #004d40;
$color-variant-900-green: #1b5e20;
$color-variant-900-light-green: #33691e;
$color-variant-900-lime: #827717;
$color-variant-900-yellow: #f57f17;
$color-variant-900-amber: #ff6f00;
$color-variant-900-orange: #e65100;
$color-variant-900-deep-orange: #bf360c;
$color-variant-900-brown: #3e2723;
$color-variant-900-gray: #212121;
$color-variant-900-blue-gray: #263238;

// A200 version

$color-variant-A200-blue: #448aff;

// A700 version
$color-variant-A700-red: #d50000;
$color-variant-A700-pink: #c51162;
$color-variant-A700-purple: #aa00ff;
$color-variant-A700-deep-purple: #6200ea;
$color-variant-A700-blue: #2962ff;
$color-variant-A700-indigo: #304ffe;
$color-variant-A700-light-blue: #0091ea;
$color-variant-A700-cyan: #00b8d4;
$color-variant-A700-teal: #00bfa5;
$color-variant-A700-green: #00c853;
$color-variant-A700-light-green: #64dd17;
$color-variant-A700-lime: #aeea00;
$color-variant-A700-yellow: #ffd600;
$color-variant-A700-amber: #ffab00;
$color-variant-A700-orange: #ff6d00;
$color-variant-A700-deep-orange: #dd2c00;

$color-custom-gray-opacity-20percent: rgba(#f5f5f5, 0.2);

$color-custom-white-opacity-70percent: rgba(#ffffff, 0.7);

$color-custom-gray-opacity-10percent: rgba(#afafaf, 0.1);


// specfic background colors for UI Messages
$color-error-bg:rgba(#e57373, 0.2);
$color-confirmation-bg:rgba(#81c784, 0.2);
$color-info-bg:rgba(#64b5f6, 0.2);
